*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.tar.gz
*.zip
*.rar
*.7z
.idea/
.vscode/
*.swp
*.swo
*.swn
.project
.classpath
node_modules/
vendor/
package-lock.json
yarn.lock
Gemfile.lock
*.log
.DS_Store
Thumbs.db
config.ini
.env
bin/
obj/
